.DS_Store

# frontend
frontend/node_modules/
frontend/.next/
frontend/.env
frontend/.env.local
frontend/.env.production

# backend
backend/venv/
backend/__pycache__/
backend/.env
backend/.pytest_cache/
backend/*.pyc